<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Zapy</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Kalam:300,400&display=swap" rel="stylesheet">
    <link href="/views/home/home.css" rel="stylesheet">
  </head>
  <body>
    <section class="users-container">
      <div class="user" id="profile">
        <img src="https://cdn4.iconfinder.com/data/icons/universal-5/605/User-512.png" alt="user-image">
        <h4 class="username">Edgar</h4>
      </div>
      <div class="add-contact">
        <h4>Adicionar Contato</h4>
        <form id="add-contact-form">
          <input type="text" name="contact" id="new-contact" placeholder="Contato">
          <input type="submit" value="Adicionar" class="submit">
        </form>
      </div>
      <div id="contacts"></div>
    </section>
    <section class="msgs-container">
      <div class="header">
        <div class="current-contact">
          <img src="https://cdn4.iconfinder.com/data/icons/universal-5/605/User-512.png" alt="contact-image">
          <h4 class="current-contact-name"></h4>
        </div>
      </div>
      <div id="messages"></div>
      <div class="msgs-send">
        <form id="send-message-form">
          <input type="text" name="message" id="new-message" placeholder="Escreva uma Mensagem">
          <img src="https://cdn1.iconfinder.com/data/icons/essenstial-ultimate-ui/64/send-512.png" alt="send" onclick="sendMessage();" id="send-button">
        </form>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.min.js"></script>
    <script src="/views/home/home.js"></script>
  </body>
</html>